body {
    background-color: rgba(0, 0, 0, 0.618);
}

ul {
    padding: 0;
    margin: 0;
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 47%;
}

ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
    opacity: .8;
    transition: .3s;
    background-color: #868282c9;
    text-align: center;
    color: #ddd;


}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    width: 500px;
    height: 250px;
    margin: 20px auto;

}

.side {
    color: #eee;
    width: 210px;
    margin-left: 15px;
    padding: 10px;
    background-color: rgba(255, 174, 0, 0.804);
}

.output {
    display: none;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: rgba(255, 174, 0, 0.804);
    margin: auto;
    color: #ddd;
    border-radius: 40px;
}

ul li.active {
    opacity: 1;
    background-color: rgba(255, 174, 0, 0.804);
}


.quiz {
    position: relative;
    display: none;
    width: 450px;
    height: 240px;
    padding-left: 30px;
}

.active {
    display: block;
}

button {
    position: absolute;
    right: 30px;
    bottom: 50px;
    width: 80px;
    height: 30px;
    margin-top: 40px;
    float: right;
    background-color: rgba(255, 174, 0, 0.804);
    border: none;
    color: white;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    transition: .3s;
}

button:hover {
    background-color: rgba(255, 174, 0, 0.522);
    outline: 1px solid white;
    box-shadow: 3px 0px 20px 0px rgba(255, 174, 0, 0.804);
}

label:hover {
    color: #0000007d;
}

.wrong1:checked~.wrongl1,
.wrong2:checked~.wrongl2,
.wrong3:checked~.wrongl3 {
    color: red;
}
.wrong1:checked~.label,
.wrong2:checked~.label,
.wrong3:checked~.label {
    cursor: not-allowed;
}

.rightI:checked~.right {
    color: green;
    cursor: not-allowed;

}

