* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(69, 27, 6, 0.509);
    color: #eee;
    background-image: url("/preview.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    background-color: #dddddd62;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;

}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    opacity: .8;
    transition: .3s;
    background-color: #868282c9;
    color: #ddd;
    font-size: 30px;


}

.container {
    justify-content: space-between;
    background-color: #dddddd62;
    width: 80%;
    height: 250px;
    height: fit-content;

    margin: 40px auto;
    position: relative;
    border-radius: 20px;
}

h2 {
    margin: 20px 0;
}

.output {
    display: none;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: rgba(255, 174, 0, 0.804);
    margin: 50px auto;
    color: #ddd;
    border-radius: 40px;

}

ul li.active {
    opacity: 1;
    background-color: rgba(255, 174, 0, 0.804);

}


.quiz {

    font-size: 30px;
    display: none;
    padding: 30px 30px;
    margin: 20px 0;
}

.container .active {
    display: block;
}

button {
    position: absolute;
    right: 30px;
    bottom: 20px;
    z-index: 33;
    width: 100px;
    height: 40px;
    margin-top: 40px;
    float: right;
    background-color: rgba(255, 174, 0, 0.804);
    border: none;
    color: white;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    transition: .3s;
    font-size: 30px;
}

button:hover {
    background-color: rgba(255, 174, 0, 0.522);
    outline: 1px solid white;
    box-shadow: 3px 0px 20px 0px rgba(255, 174, 0, 0.804);
}

label:hover {
    color: #0000007d;
}

.wrong1:checked~.wrongl1,
.wrong2:checked~.wrongl2,
.wrong3:checked~.wrongl3 {
    color: red;
}

.wrong1:checked~.label,
.wrong2:checked~.label,
.wrong3:checked~.label {
    cursor: not-allowed;
}

.rightI:checked~.right {
    color: green;
    cursor: not-allowed;

}

@media(max-width:1000px) {
    .quiz {
        width: 90%;
        height: fit-content;
        padding: 30px 10px;
        font-size: 50px;

    }

    .container {
        width: 90%;
        height: fit-content;
        margin: 10px auto;
        padding: 100px 20px;

    }

    ul {
        width: 90%;
        height: 140px;
        margin: 60px auto;

    }
h2{
    margin-bottom:90px ;
}
    input {
        width: fit-content;
        margin: 70px 0;
       
    }

    button {
        width: 200px;
        font-size: 50px;
        height: 80px;
        margin-bottom: 20px;
    }

    .output {
        text-align: center;
        width: 90%;
        height: fit-content;
        font-size: 35px;
        padding: 30px;
    }

    ul li {
        font-size: 50px;

        width: 80px;
        height: 65px;
        margin: 20px 6px;
    }
}